#statereps {
  background: url("../images/alaska-flag-large.jpg");
  background-color: rgba(255,255,255,0.9);
  background-blend-mode: lighten;
  background-size: cover;
}
//<img ng-src="../images/{{repinfofed.state}}.jpg" />
#fedreps {
  background: url("../images/American-Iphone-Flag-HD-Wallpapers_V2.jpg");
  background-color: rgba(255,255,255,0.9);
  background-blend-mode: lighten;
  background-size: cover;
}
