strong {
display: inline !important;
}
.row{
  padding: 4rem;
}

.disclaimerText {
  font-size: 1rem;
}

#intro {
  padding-right: 4%;
}

.headertext {
  margin: 1rem;
}


.findReps {
  background-color: rgba(163, 163, 199, 0.68);
}

.reps {
  background-color: rgba(255,255,255,0.4);
  padding-top: 1rem;
}

.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
